Web_API/WeatherForcast.WebAPI/Web References/DataConversionRef/DataConversion.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="farenhiteToCelsius">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="fahrenheit" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="farenhiteToCelsiusResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="farenhiteToCelsiusResult" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="celsiusTofarenhite">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="celsius" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="celsiusTofarenhiteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="celsiusTofarenhiteResult" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="saveLiveWeatherDataToDB">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="_tblWeatherDataResponse" type="tns:tblWeatherDataResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="tblWeatherDataResponse">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="weatherDataResponseId" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Lat" nillable="true" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="Long" nillable="true" type="s:decimal" />
          <s:element minOccurs="0" maxOccurs="1" name="TimeZone" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ApparentTemperature" nillable="true" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="Pressure" nillable="true" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="CloudCover" nillable="true" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="DewPoint" nillable="true" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="Humidity" nillable="true" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="PrecipIntensity" nillable="true" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="MoonPhase" nillable="true" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="Ozone" nillable="true" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="PrecipProbability" nillable="true" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="SunriseTime" nillable="true" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="SunseTime" nillable="true" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="RequestTime" nillable="true" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="Temperature" nillable="true" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="UvIndex" nillable="true" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Summary" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Icon" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="EntryDate" nillable="true" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="IsActive" nillable="true" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="tblDailies" type="tns:ArrayOfTblDaily" />
          <s:element minOccurs="0" maxOccurs="1" name="tblHourlies" type="tns:ArrayOfTblHourly" />
          <s:element minOccurs="0" maxOccurs="1" name="tblMinutelies" type="tns:ArrayOfTblMinutely" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfTblDaily">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="tblDaily" nillable="true" type="tns:tblDaily" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="tblDaily">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="weatherDataResponseId" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Summary" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Icon" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="SunriseTime" nillable="true" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="SunseTime" nillable="true" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="MoonPhase" nillable="true" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="PrecipIntensity" nillable="true" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="PrecipIntensityMax" nillable="true" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="precipIntensityMaxTime" nillable="true" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="precipProbability" nillable="true" type="s:decimal" />
          <s:element minOccurs="0" maxOccurs="1" name="precipType" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="temperatureHigh" nillable="true" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="temperatureHighTime" nillable="true" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="temperatureLow" nillable="true" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="temperatureLowTime" nillable="true" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="apparentTemperatureHigh" nillable="true" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="apparentTemperatureHighTime" nillable="true" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="apparentTemperatureLow" nillable="true" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="apparentTemperatureLowTime" nillable="true" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="DewPoint" nillable="true" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="Humidity" nillable="true" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="Pressure" nillable="true" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="windSpeed" nillable="true" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="windGust" nillable="true" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="windGustTime" nillable="true" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="windBearing" nillable="true" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="UvIndex" nillable="true" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="CloudCover" nillable="true" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="uvIndexTime" nillable="true" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="Visibility" nillable="true" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="Ozone" nillable="true" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="temperatureMin" nillable="true" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="temperatureMinTime" nillable="true" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="temperatureMax" nillable="true" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="temperatureMaxTime" nillable="true" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="apparentTemperatureMin" nillable="true" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="apparentTemperatureMinTime" nillable="true" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="apparentTemperatureMax" nillable="true" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="apparentTemperatureMaxTime" nillable="true" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="EntryDate" nillable="true" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="IsActive" nillable="true" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="tblWeatherDataResponse" type="tns:tblWeatherDataResponse" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfTblHourly">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="tblHourly" nillable="true" type="tns:tblHourly" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="tblHourly">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="weatherDataResponseId" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Summary" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Icon" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="PrecipIntensity" nillable="true" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="precipProbability" nillable="true" type="s:decimal" />
          <s:element minOccurs="0" maxOccurs="1" name="precipType" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Temperature" nillable="true" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="apparentTemperature" nillable="true" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="DewPoint" nillable="true" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="Humidity" nillable="true" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="Pressure" nillable="true" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="windSpeed" nillable="true" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="windGust" nillable="true" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="windBearing" nillable="true" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="UvIndex" nillable="true" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="CloudCover" nillable="true" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="Visibility" nillable="true" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="Ozone" nillable="true" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="EntryDate" nillable="true" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="IsActive" nillable="true" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="tblWeatherDataResponse" type="tns:tblWeatherDataResponse" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfTblMinutely">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="tblMinutely" nillable="true" type="tns:tblMinutely" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="tblMinutely">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="weatherDataResponseId" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Summary" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Icon" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="PrecipIntensity" nillable="true" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="PrecipIntensityError" nillable="true" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="precipProbability" nillable="true" type="s:decimal" />
          <s:element minOccurs="0" maxOccurs="1" name="precipType" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="EntryDate" nillable="true" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="IsActive" nillable="true" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="tblWeatherDataResponse" type="tns:tblWeatherDataResponse" />
        </s:sequence>
      </s:complexType>
      <s:element name="saveLiveWeatherDataToDBResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="saveLiveWeatherDataToDBResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="double" type="s:double" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="farenhiteToCelsiusSoapIn">
    <wsdl:part name="parameters" element="tns:farenhiteToCelsius" />
  </wsdl:message>
  <wsdl:message name="farenhiteToCelsiusSoapOut">
    <wsdl:part name="parameters" element="tns:farenhiteToCelsiusResponse" />
  </wsdl:message>
  <wsdl:message name="celsiusTofarenhiteSoapIn">
    <wsdl:part name="parameters" element="tns:celsiusTofarenhite" />
  </wsdl:message>
  <wsdl:message name="celsiusTofarenhiteSoapOut">
    <wsdl:part name="parameters" element="tns:celsiusTofarenhiteResponse" />
  </wsdl:message>
  <wsdl:message name="saveLiveWeatherDataToDBSoapIn">
    <wsdl:part name="parameters" element="tns:saveLiveWeatherDataToDB" />
  </wsdl:message>
  <wsdl:message name="saveLiveWeatherDataToDBSoapOut">
    <wsdl:part name="parameters" element="tns:saveLiveWeatherDataToDBResponse" />
  </wsdl:message>
  <wsdl:message name="farenhiteToCelsiusHttpGetIn">
    <wsdl:part name="fahrenheit" type="s:string" />
  </wsdl:message>
  <wsdl:message name="farenhiteToCelsiusHttpGetOut">
    <wsdl:part name="Body" element="tns:double" />
  </wsdl:message>
  <wsdl:message name="celsiusTofarenhiteHttpGetIn">
    <wsdl:part name="celsius" type="s:string" />
  </wsdl:message>
  <wsdl:message name="celsiusTofarenhiteHttpGetOut">
    <wsdl:part name="Body" element="tns:double" />
  </wsdl:message>
  <wsdl:message name="farenhiteToCelsiusHttpPostIn">
    <wsdl:part name="fahrenheit" type="s:string" />
  </wsdl:message>
  <wsdl:message name="farenhiteToCelsiusHttpPostOut">
    <wsdl:part name="Body" element="tns:double" />
  </wsdl:message>
  <wsdl:message name="celsiusTofarenhiteHttpPostIn">
    <wsdl:part name="celsius" type="s:string" />
  </wsdl:message>
  <wsdl:message name="celsiusTofarenhiteHttpPostOut">
    <wsdl:part name="Body" element="tns:double" />
  </wsdl:message>
  <wsdl:portType name="DataConversionSoap">
    <wsdl:operation name="farenhiteToCelsius">
      <wsdl:input message="tns:farenhiteToCelsiusSoapIn" />
      <wsdl:output message="tns:farenhiteToCelsiusSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="celsiusTofarenhite">
      <wsdl:input message="tns:celsiusTofarenhiteSoapIn" />
      <wsdl:output message="tns:celsiusTofarenhiteSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="saveLiveWeatherDataToDB">
      <wsdl:input message="tns:saveLiveWeatherDataToDBSoapIn" />
      <wsdl:output message="tns:saveLiveWeatherDataToDBSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="DataConversionHttpGet">
    <wsdl:operation name="farenhiteToCelsius">
      <wsdl:input message="tns:farenhiteToCelsiusHttpGetIn" />
      <wsdl:output message="tns:farenhiteToCelsiusHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="celsiusTofarenhite">
      <wsdl:input message="tns:celsiusTofarenhiteHttpGetIn" />
      <wsdl:output message="tns:celsiusTofarenhiteHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="DataConversionHttpPost">
    <wsdl:operation name="farenhiteToCelsius">
      <wsdl:input message="tns:farenhiteToCelsiusHttpPostIn" />
      <wsdl:output message="tns:farenhiteToCelsiusHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="celsiusTofarenhite">
      <wsdl:input message="tns:celsiusTofarenhiteHttpPostIn" />
      <wsdl:output message="tns:celsiusTofarenhiteHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="DataConversionSoap" type="tns:DataConversionSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="farenhiteToCelsius">
      <soap:operation soapAction="http://tempuri.org/farenhiteToCelsius" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="celsiusTofarenhite">
      <soap:operation soapAction="http://tempuri.org/celsiusTofarenhite" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="saveLiveWeatherDataToDB">
      <soap:operation soapAction="http://tempuri.org/saveLiveWeatherDataToDB" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="DataConversionSoap12" type="tns:DataConversionSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="farenhiteToCelsius">
      <soap12:operation soapAction="http://tempuri.org/farenhiteToCelsius" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="celsiusTofarenhite">
      <soap12:operation soapAction="http://tempuri.org/celsiusTofarenhite" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="saveLiveWeatherDataToDB">
      <soap12:operation soapAction="http://tempuri.org/saveLiveWeatherDataToDB" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="DataConversionHttpGet" type="tns:DataConversionHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="farenhiteToCelsius">
      <http:operation location="/farenhiteToCelsius" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="celsiusTofarenhite">
      <http:operation location="/celsiusTofarenhite" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="DataConversionHttpPost" type="tns:DataConversionHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="farenhiteToCelsius">
      <http:operation location="/farenhiteToCelsius" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="celsiusTofarenhite">
      <http:operation location="/celsiusTofarenhite" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DataConversion">
    <wsdl:port name="DataConversionSoap" binding="tns:DataConversionSoap">
      <soap:address location="http://localhost:57045/DataConversion.asmx" />
    </wsdl:port>
    <wsdl:port name="DataConversionSoap12" binding="tns:DataConversionSoap12">
      <soap12:address location="http://localhost:57045/DataConversion.asmx" />
    </wsdl:port>
    <wsdl:port name="DataConversionHttpGet" binding="tns:DataConversionHttpGet">
      <http:address location="http://localhost:57045/DataConversion.asmx" />
    </wsdl:port>
    <wsdl:port name="DataConversionHttpPost" binding="tns:DataConversionHttpPost">
      <http:address location="http://localhost:57045/DataConversion.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>