Web_API/MvcWebAPI/Web References/DataConversionRef/DataConversion.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="farenhiteToCelsius">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="fahrenheit" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="farenhiteToCelsiusResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="farenhiteToCelsiusResult" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="celsiusTofarenhite">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="celsius" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="celsiusTofarenhiteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="celsiusTofarenhiteResult" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="saveLiveWeatherDataToDB">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="_tblWeatherDataResponse" type="tns:tblWeatherDataResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="tblWeatherDataResponse">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="weatherDataResponseId" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Lat" nillable="true" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="Long" nillable="true" type="s:decimal" />
          <s:element minOccurs="0" maxOccurs="1" name="TimeZone" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ApparentTemperature" nillable="true" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="Pressure" nillable="true" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="CloudCover" nillable="true" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="DewPoint" nillable="true" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="Humidity" nillable="true" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="PrecipIntensity" nillable="true" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="MoonPhase" nillable="true" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="Ozone" nillable="true" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="PrecipProbability" nillable="true" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="SunriseTime" nillable="true" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="SunseTime" nillable="true" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="RequestTime" nillable="true" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="Temperature" nillable="true" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="UvIndex" nillable="true" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Summary" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Icon" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="EntryDate" nillable="true" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="IsActive" nillable="true" type="s:boolean" />
        </s:sequence>
      </s:complexType>
      <s:element name="saveLiveWeatherDataToDBResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="saveLiveWeatherDataToDBResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="farenhiteToCelsiusSoapIn">
    <wsdl:part name="parameters" element="tns:farenhiteToCelsius" />
  </wsdl:message>
  <wsdl:message name="farenhiteToCelsiusSoapOut">
    <wsdl:part name="parameters" element="tns:farenhiteToCelsiusResponse" />
  </wsdl:message>
  <wsdl:message name="celsiusTofarenhiteSoapIn">
    <wsdl:part name="parameters" element="tns:celsiusTofarenhite" />
  </wsdl:message>
  <wsdl:message name="celsiusTofarenhiteSoapOut">
    <wsdl:part name="parameters" element="tns:celsiusTofarenhiteResponse" />
  </wsdl:message>
  <wsdl:message name="saveLiveWeatherDataToDBSoapIn">
    <wsdl:part name="parameters" element="tns:saveLiveWeatherDataToDB" />
  </wsdl:message>
  <wsdl:message name="saveLiveWeatherDataToDBSoapOut">
    <wsdl:part name="parameters" element="tns:saveLiveWeatherDataToDBResponse" />
  </wsdl:message>
  <wsdl:portType name="DataConversionSoap">
    <wsdl:operation name="farenhiteToCelsius">
      <wsdl:input message="tns:farenhiteToCelsiusSoapIn" />
      <wsdl:output message="tns:farenhiteToCelsiusSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="celsiusTofarenhite">
      <wsdl:input message="tns:celsiusTofarenhiteSoapIn" />
      <wsdl:output message="tns:celsiusTofarenhiteSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="saveLiveWeatherDataToDB">
      <wsdl:input message="tns:saveLiveWeatherDataToDBSoapIn" />
      <wsdl:output message="tns:saveLiveWeatherDataToDBSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="DataConversionSoap" type="tns:DataConversionSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="farenhiteToCelsius">
      <soap:operation soapAction="http://tempuri.org/farenhiteToCelsius" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="celsiusTofarenhite">
      <soap:operation soapAction="http://tempuri.org/celsiusTofarenhite" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="saveLiveWeatherDataToDB">
      <soap:operation soapAction="http://tempuri.org/saveLiveWeatherDataToDB" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="DataConversionSoap12" type="tns:DataConversionSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="farenhiteToCelsius">
      <soap12:operation soapAction="http://tempuri.org/farenhiteToCelsius" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="celsiusTofarenhite">
      <soap12:operation soapAction="http://tempuri.org/celsiusTofarenhite" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="saveLiveWeatherDataToDB">
      <soap12:operation soapAction="http://tempuri.org/saveLiveWeatherDataToDB" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DataConversion">
    <wsdl:port name="DataConversionSoap" binding="tns:DataConversionSoap">
      <soap:address location="http://localhost:57045/DataConversion.asmx" />
    </wsdl:port>
    <wsdl:port name="DataConversionSoap12" binding="tns:DataConversionSoap12">
      <soap12:address location="http://localhost:57045/DataConversion.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>